
.icon-settings:before { content: '\e800'; } /* '' */
.icon-ttm:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-messages:before { content: '\e804'; } /* '' */
.icon-group:before { content: '\e805'; } /* '' */
.icon-contact:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-back:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */