body {
  margin: 0;
  padding: 0;
  font-size: medium;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em; 
}

.demo_bggreen {
    background-color: #18A900; 
}

.demo_nav-icons a.demo_active {
	  width: 20%;
    display: block;
    float: left;
    text-align: center;
    color: #f0faff;
}

header {
    width: 100%;
    background-color: #416c80; 
}
/* Navigation Rules */
nav {
  width: 100%;
  background-color: #416c80;
  position: fixed;
  bottom: 0px; 
}

.demo_nav-icons a {
    color: #ffc580;
    font-size: 36px;
    position: relative;
    top: 10px;
  	margin-bottom: 20px; 
}

.demo_nav-icons .demo_contact {
    width: 20%;
    display: block;
    float: left;
    text-align: center; 
}

.demo_nav-icons .demo_messages {
    width: 20%;
    display: block;
    float: left;
    text-align: center; 
}

.demo_nav-icons .demo_calendar {
    width: 20%;
    display: block;
    float: left;
    text-align: center; 
}

.demo_nav-icons .demo_group {
    width: 20%;
    display: block;
    float: left;
    text-align: center; 
}

.demo_nav-icons .demo_settings {
    width: 20%;
    display: block;
    float: left;
    text-align: center; 
}
/* Contact General Rules */
.demo_search {
	border: 1px solid #ffc580;
	border-radius: 15px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	background-color: #F0FAFF;
	text-align: center;
}

.demo_contactbar {
	background-color: #F0FAFF;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	margin-top: 1px;
	letter-spacing: 0.1em;
	font-weight: lighter;
	text-align: left;
	position: static;
}

.demo_contactbar a {
    color: #000000; 
}

.demo_contactbar a:visited  {
    color: #000000; 
}

.demo_userimage {
    background-color: #C8C8C8;
    width: 50px;
    height: 50px;
    border-radius: 43px;
    margin: 0px 10px 0px 10px;
    background-size: 100% auto;
    float: left; 
}

.demo_userimage1 {
  background-image: url(../img/user1.png); 
}

.demo_userimage2 {
  background-image: url(../img/user2.png); 
}

.demo_userimage3 {
  background-image: url(../img/user3.png); 
}

.demo_userimage4 {
  background-image: url(../img/user4.png); 
}

.demo_userimage5 {
  background-image: url(../img/user5.png); 
}

.demo_userimage6 {
  background-image: url(../img/user6.png); 
}

.demo_userimage7 {
  background-image: url(../img/user7.png); 
}

.demo_userimage8 {
  background-image: url(../img/user8.png); 
}

.demo_userimage9 {
  background-image: url(../img/user9.png); 
}

.demo_userimage10 {
  background-image: url(../img/user10.png); 
}

.demo_contactbar .demo_contacttext {
    float: left; 
}

.demo_contactbar .demo_contacttext .demo_name {
	font-size: 20px;
}

.demo_contactbar .demo_contacttext .demo_message {
    font-size: 0.7em; 
}
/* Message Contact Rules */

.demo_message-contact {
    margin-left: auto;
    margin-right: auto;
    background-color: #416c80;
    width: 100%;
    height: 100%;
    display: block; 
}

.demo_message-contact .demo_context a {
  color: #000000; 
}

.demo_message-contact .demo_contactbar .demo_time {
  float: right;
  margin-right: 20px;
  color: #416c80;
  font-size: 0.7em;
  margin-top: 5px; 
}

.demo_message-contact .demo_contactbar .demo_alerts {
  height: 30px;
  position: absolute;
  right: 0px;
  margin-right: 20px;
  margin-top: 20px; 
}

.demo_alert {
    width: 10px;
  height: 10px;
  float: left;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
    margin-top: 10px; 
}

/* Message Contact Rules */
.demo_messaging a {
  color: #ffc580; 
}

.demo_messaging header {
  position: fixed;
  top: 0px; 
}

.demo_messaging .demo_back {
  font-size: 30px;
  float: left;
  margin-top: 5px;
  height: 35px;
  width: 40px; 
}

.demo_messaging .demo_messagecontact {
  color: #ffc580;
  height: 40px;
  width: 100%;
  text-align: center;
  text-indent: -40px;
  padding-top: 10px;
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 1.3em; 
}

.demo_messaging .demo_calendar {
  float: left;
  position: fixed;
  right: 5px;
  top: 5px;
  font-size: 30px; 
}

.demo_messaging .demo_camera {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 10px;
  width: 15%;
  text-align: center; 
}

.demo_messaging .demo_ttm {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 10px;
  width: 15%;
  text-align: center; 
} 

.demo_messaging .demo_messageinput {
  height: 40px;
  margin-top: 10px;
  float: left;
  width: 70%;
  text-align: center;
  margin-bottom: 10px; 
}

.demo_messaging .demo_messageinput .demo_text {
  height: 24px;
  width: 94%;
  border: 1px solid #ffc580;
  border-radius: 20px;
  margin-top: 6px;
  background-color: #F0FAFF; 
}
  
.demo_messaging .demo_textcontent a {
  color: #ffc580;
  text-decoration:none; 
} 

.demo_messaging .demo_ttmpicker {
  margin-top: 60px;
  height: 60px; 
} 

.demo_messaging .demo_messagecontact {
  color: #ffc580;
  height: 40px;
  width: 100%;
  text-align: center;
  text-indent: -40px;
  padding-top: 10px;
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-size: 1.3em;
}

.demo_messaging .demo_me {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #ffc580;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.demo_messaging .demo_you {
  margin: 30px;
}

.demo_messaging .demo_textcontent {
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  background-color: #f0faff;
  padding-top: 60px;
  padding-bottom: 70px;
  color: #213640;
}

.demo_messaging .demo_datetime {
  color: #66787f;
  font-size: 0.7em;
  width: 100%;
}

.demo_messaging .demo_datetime .demo_date {
  float: left;  
}

.demo_messaging .demo_datetime .demo_time {
  width: 100%;
  text-align: right;
}

.demo_messaging .demo_datetimes{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2em;
  background-color: #416c80;
  border-color: #416c80; 
}

.demo_messaging .demo_dt{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}
.demo_settingsimage {
	width: 140px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 200px;
	background-color: #FF9395;
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-bottom: 20px;
}
.demo_settingsinfo {
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 100%
%;
	height: 100%;
	margin-bottom: 100px;
}
input { 
	box-sizing: border-box;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 1px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.demo_searchwrap   {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.float_right {
	float: right;
}
